#top {
  height: 452px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://s3-alpha-sig.figma.com/img/8e6b/5210/2d6bdac02a35769e4db4ef9df4ea60a1?Expires=1691971200&Signature=fHpKiUFvcFsEnzxXh4cAqWA2oizBEYym3KdoIJgfjmNFKecabmUrrDgaaRooZ5RSFxKdhrqZ0NYsX2qVo2j7vQtj0DuVNlETofGjiN5XW4jaHhfAbh389NyZVIg12Gzzsx6Lp3AiVhwSCNre56dzlvzUH~I1TaLDKItWMsWha4mm9P-GpMBzkIJ5mL8YED10Hbu-~wtLn7oD5mlrnCOht41gN5JLxEoEvBz2l23OftkPxOPu91bJIXSVPlBChII-PKZDFgadg0CegDgPcPMFCHwB20MeVFqarsEQXK3Zj8JjkPJOK7aHQZLacch8MGgVMkpiL3eX4qa~Gf2XWx3d~Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
}

#top .topleft {
  padding-left: 50px;
}

#top .topleft p {
  padding-top: 60px;
  color: #FFF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30.2px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

#top .topmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 1px #0FF7F0, #D686FF;
}

@media (max-width: 968px) {
  #top .topmenu .menu1 {
    display: none;
  }
}

@media (max-width: 968px) {
  #top .topmenu .menu2 {
    display: none;
  }
}

@media (max-width: 968px) {
  #top .topmenu .dropbtn {
    display: none;
  }
}

#top .topmenu span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.16);
  color: white;
  padding: 11px;
  font-size: 1.1rem;
  border: 1px #0FF7F0, #D686FF;
}

#top .topmenu .dropbtn {
  background-color: rgba(255, 255, 255, 0.16);
  color: white;
  margin-top: -15px;
  padding: 11px;
  font-size: 16px;
  border: none;
}

#top .topmenu .dropdown {
  position: relative;
  display: inline-block;
}

#top .topmenu .dropdown-content {
  display: none;
  position: absolute;
  border-radius: 6.977px;
  background: rgba(255, 255, 255, 0.16);
  width: 87px;
  height: 154px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 50px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#top .topmenu .dropdown-content a {
  text-align: center;
  color: white;
  padding: 12px;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
}

#top .topmenu .dropdown:hover .dropdown-content {
  display: block;
}

#top .topmenu button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  color: white;
  padding: 7px;
  border: none;
}

#top .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  border: 1px #0FF7F0, #D686FF;
  gap: 10px;
}

@media (max-width: 968px) {
  #top .top-right .watchlist {
    display: none;
  }
}

#top .top-right .watchlist .dropdown-menu {
  display: none;
  margin-left: -100px;
  border-radius: 6.977px;
  background: radial-gradient(107.32% 141.42% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-box-shadow: -2.10923px -2.10923px 105.46166px 0px rgba(255, 255, 255, 0.02) inset;
          box-shadow: -2.10923px -2.10923px 105.46166px 0px rgba(255, 255, 255, 0.02) inset;
  -webkit-backdrop-filter: blur(4.36076px);
          backdrop-filter: blur(4.36076px);
  width: 280px;
  height: 211.572px;
  overflow-y: auto;
  overflow-x: none;
}

#top .top-right .watchlist .dropdown-menu .col-xl-5 {
  padding-top: 8px;
}

#top .top-right .watchlist .dropdown-menu .col-xl-5 img {
  width: 100%;
}

#top .top-right .watchlist .dropdown-menu .col-xl-7 {
  background: #1F1F1F;
}

#top .top-right .watchlist .dropdown-menu .col-xl-7 p {
  border-radius: 2.751px;
  padding-top: 15px;
  color: #FFF;
  font-family: Gilroy-Bold;
  font-size: 13.4px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

#top .top-right .watchlist .dropdown-menu .col-xl-7 p svg {
  float: right;
}

#top .top-right .watchlist button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  color: white;
  padding: 11px;
  width: 150px;
  font-size: 1.1rem;
  border: 1px #0FF7F0, #D686FF;
}

#top .top-right .watchlist button svg {
  color: #E24D4D;
}

@media (max-width: 968px) {
  #top .top-right .signin {
    display: none;
  }
}

#top .top-right .signin button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.16);
  color: white;
  width: 120px;
  padding: 15px;
  font-size: 1.1rem;
  border: 1px #0FF7F0, #D686FF;
}

#top .responsive-menu {
  float: right;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 968px) {
  #top .responsive-menu .mobile-icon {
    display: none;
  }
}

@media (min-width: 968px) {
  #top .responsive-menu .menu {
    display: none;
  }
}

#top .icon {
  cursor: pointer;
}

#top .icon svg {
  display: block;
  width: 60px;
  height: 40px;
  color: #fff;
}

#top .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -50%;
  width: 50%;
  height: 100%;
  z-index: 999;
  background-color: #000000;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

#top .menu h3 {
  padding: 20px;
}

#top .menu li {
  padding: 20px;
}

#top .menu a {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}

#top .menu p {
  padding-left: 20px;
  font-size: 1.6rem;
}

#top .show-menu {
  left: 0;
}

#top .voice svg {
  margin-top: 130px;
  margin-right: 30px;
  float: right;
  color: #FFF;
}

#top .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100px;
}

#top .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #000000;
  color: white;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
}

@media (min-width: 969px) {
  #top .menu-container {
    display: none;
  }
}

@media (max-width: 768px) {
  #top .menu-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #top .menu {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
    height: 50vh;
  }
}

@media (min-width: 969px) {
  #top .mobile-menu {
    display: none;
  }
}

#top .mobile.menu {
  top: 0;
}

#top .mobile.menu svg {
  color: #fff;
  float: right;
}

#middle {
  background: #1F1F1F;
}

#middle .swiper {
  padding-top: 80px;
  width: 100%;
  height: 100%;
  padding: 60px;
}

#middle .swiper-slide {
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#middle .swiper-slide img {
  display: block;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#middle .swiper-slide p {
  padding-top: 20px;
  float: left;
  color: white;
}

@media (max-width: 640px) {
  #middle .swiper-button-next {
    display: none;
  }
}

@media (max-width: 640px) {
  #middle .swiper-button-prev {
    display: none;
  }
}

#middle .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

#middle .swiper-slide {
  background-size: cover;
  background-position: center;
}

#middle .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
}

#middle .mySwiper2 {
  height: 80%;
  width: 100%;
}

#middle .mySwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

#middle .mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

#middle .swiper-button-next {
  background-color: #00000080;
  color: #FFFFFF;
  font-size: .8rem;
  padding: 35px;
  border-radius: 50%;
}

#middle .swiper-button-prev {
  background-color: #00000080;
  color: #FFFFFF;
  font-size: .8rem;
  padding: 35px;
  border-radius: 50%;
}

#middle .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */